* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-image:url("../mutimedia/fondo.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: auto;
    padding: 15px;
}
h1 {
    color: rgb(152, 116, 116);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    padding-top: 10px;
}
h2{
    color:rgb(134, 110, 110) ; font-size: 20px; text-align: center;
}
h3{
    color: rgb(69, 142, 143); font-size: 25px; text-align: center;margin-top: 5%;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: rosybrown;
}
img {
    max-width: 400px;
    height: auto;
    margin: 10px 15px;
}
.logoImg {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}
.enlacesExternos{
    color: rgb(118, 95, 95);
    margin-left: 5%; margin-top: 2%; margin-bottom: 3%;
}
footer {
    background-color: rgb(194, 181, 194);
    text-align: center;
    color: white;
    padding: 15px 0;
}
p {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 13px; text-align: justify; text-align: center;
}
header {
    background-color: #fcf1f1; 
    color: #dbcece; padding: 10px 20px ; display: flex; align-items: center; justify-content: center;
}
main {
    display: flex; flex-direction: column; align-items: center; 
    padding: 20px; 
}
main img{
width: 100%;
height: 100%;
object-fit: cover;
align-content: center;
}
header nav ul{
    display: flex; gap: 1.5rem;
}
.alinearImagen{
    max-width: 50%;
    margin-right: 20px;
}
.alinearTexto{
    flex: 1
}
.textoImagen{
    display: flex;
    align-items: center ; margin-left: 5%;
}
.textoYoutube{
    margin-top: 5%;text-align: center; margin-bottom: 5%;
}
.videoYoutube{
    max-width: 80%;
    margin-left: 10%;
}
.bgRose{
 color: rgb(152, 116, 116);
}
.menu ul li a:hover{
    background-color: rgb(233, 214, 214);
}
.menu ul li{
    color: rgb(152, 116, 116);justify-content: center; list-style-type: none; text-decoration: none;
    font-weight: bold  
}
.dropdownItem{
    font-family: Georgia, 'Times New Roman', Times, serif; font-size: 15px
}
@media (max-width: 767px) {
    body {
        font-size: 16px; 
    }

    h1 {
        font-size: 40px; 
    }

    h2 {
        font-size: 18px; 
    }

    h3 {
        font-size: 22px; 
    }

    .logoImg {
        width: 80px; 
        height: 80px; 
        margin-right: 15px; 
    }
    .textoImagen {
        flex-direction: column; 
        align-items: flex-start; 
        margin-left: 0; 
    }

    .textoImagen img {
        max-width: 100%; 
        margin-right: 0;
        margin-bottom: 10px;
    }

    .alinearTexto {
        flex: 0; 
        margin-left: 0;
        text-align: left;
    }
